<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>책 정보 상세보기</title>
    <link href="/favicon.ico" rel="icon">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
<h1>📖 책 상세보기</h1>
<div id="bookDetail">
    <!-- ajax DB 에서 가져온 책 정보 넣기 -->
</div>
<script>
    // js URL SEARCH PARAMETERS
    const params = new URLSearchParams(window.location.search);
    // ? 뒤에오는 키 벨류 값을 모두 params 안에 넣어놓기
    const id = params.get("id"); // params 내에서 가지고오자 하는 값을 키이름으로 가져오기
    $.ajax({
        url: `/api/book/${id}`,
        method: "GET",
        success: // 컨트롤러에서 데이터가 0개 이상 존재할 때 가져온 상태
            function (data) {
                if(data) { // 데이터가 있음!  DB에서 데이터가 1개 이상인 상태
                    $("#bookDetail").html(`
                                            <h1>${data.id}</h1>
                                            <img src="${data.imagePath}">
                                            <p>${data.title}</p>
                                            <p>${data.author}</p>
                                            <p>${data.genre}</p>
                                            `);
                } else { // 데이터가 없음!  DB에서 데이터가 0개인 상태
                    $("#bookDetail").html("<p>존재하는 데이터가 없습니다.</p>");
                }

            },
        error: //컨트롤러 자체에서 데이터를 가져오는데 문제가  발생해서 아예 가져오지 못하는 상태
            function () {
                $("#bookDetail").html("<p>백엔드 api에서 데이터를 가져오는데 문제가 발생했습니다.</p>");
            }
    })
</script>
</body>
</html>