<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>유저정보</title>
    <link rel="icon" href="/favicon.ico">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
<h1>유저 상세 정보</h1>
<div id="userDetail">
    <!-- 만약 번호에 해당하는 id 값을 ajax를 이용해서
          MYSQL DB에 id값을 전달하고,
          전달한 id 값이 DB에 존재하면 id값에 해당하는 유저 정보가져오기
    -->

</div>
<script>
    const urlParams = new URLSearchParams(window.location.search);
    const id = urlParams.get('id');

    $.ajax({
        url: `/api/user/${id}`,
        method: "GET",
        success: function (data) {
            if (data) {
                $('#userDetail').html(`
          <p><strong>유저 닉네임 :</strong>${data.username}</p>
          <p><strong>유저 비밀번호 :</strong>${data.password}</p>
        `);
            } else {
                $('#userDetail').html('<p>조회되지 않는 회원입니다.</p>')
            }
        },
        error:
            function () {
                $('#userDetail').html(`<p>백엔드에서 데이터를 가져올 수 없는 상태입니다.</p>`)
            }
    })
</script>
</body>
</html>